{% extends "base.html" %}

{% block content %}
    <h1>{{ draft.name }}</h1>
    <h2>Created by: {{ draft.creator }}</h2>

    {% if draft.is_started %}
        {% for seat in draft.seats.all %}
            <p>Seat: {{ seat.user }}</p>
        {% endfor %}
    {% else %}
        {% if not in_draft %}
            <a href="{% url 'join-draft' draft.uuid %}">Join</a>
        {% else %}
            <a href="{% url 'leave-draft' draft.uuid %}">Leave</a>
        {% endif %}
        {% for entry in draft.entries.all %}
            <p>Entrant: {{ entry.player }}</p>
        {% endfor %}
    {% endif %}
    {% if show_start_button %}
        <a class="btn btn-primary" href="{% url 'start-draft' draft.uuid %}">Start</a>
    {% endif %}
{% endblock %}