{% extends "base.html" %}

{% block content %}
    <h1>{{ draft.name }}</h1>
    {% if draft.cube %}
        <h3>Cube: <a href="{{ draft.cube.get_absolute_url }}">{{ draft.cube.name }}</a></h3>
    {% endif %}
    <p>
        Seats: {{ seats|join:"," }}
    </p>

    {% if is_complete %}
        <h4>Draft completed!</h4>
    {% else %}
        <p>Round {{ draft.current_round }} of {{ total_rounds }}</p>
        {% if pack %}
            <p>Showing pack 1 of {{ pack_count }}</p>
            <div class="row">
                {% for card in pack.cards.all %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="{% url 'draft-pick' draft.uuid card.uuid %}">
                            <img class="img-responsive" style="width: 100%; height: auto"
                                 src="{{ card.get_image_url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No current pack</p>
        {% endif %}
    {% endif %}
    <p>Your Picks:</p>
    {% for pick in picks.all %}
        <p>{{ pick.display_name }}</p>
    {% endfor %}
{% endblock %}